$small-breakpoint: 640px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1536px;

@mixin small-screen {
  @media (min-width: #{$small-breakpoint}) {
    @content;
  }
}

@mixin medium-screen {
  @media (min-width: #{$medium-breakpoint}) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin xl-screen {
  @media (min-width: #{$xl-breakpoint}) {
    @content;
  }
}

@mixin xxl-screen {
  @media (min-width: #{$xxl-breakpoint}) {
    @content;
  }
}
